@* @{
    ViewData["Title"] = "Cart Items";
}
<a class="btn btn-primary" asp-area="Payment" asp-controller="Home" asp-action="CreateOrder">Proceed to Checkout</a> *@
@using Bosch.eCommerce.Models
@model IEnumerable<MyCartVM>
@{
    ViewData["Title"] = "Your Cart Items";
}


@if (Model != null && Model.Count() > 0)
{
    <div class="text-center">
        <h1>Your Cart Details!</h1>
        @foreach (var item in Model)
        {
            <h5>@item.ProductName</h5>
        }
    </div>
}
else
{
    <h1>@ViewBag.NoItemsInCartMessage</h1>
}
<hr />
<a class="btn btn-primary" asp-area="Payment" asp-controller="Home" asp-action="CreateOrder">Proceed to Checkout</a>
<a class="btn btn-danger" asp-area="Products" asp-controller="Home" asp-action="Index">Shop More</a>